<dom-module id="cells-jesus-guzman-vitte-dashboard-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
  --heading-height: 28px;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-jesus-guzman-vitte-dashboard; }

:host #allCards {
  display: none; }

:host #spinner {
  display: block;
  position: fixed;
  left: 45%;
  top: 45%; }

</style></template></dom-module>