<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="cells-jesus-guzman-vitte-dashboard-styles.html">
<link rel="import" href="../cells-business-contact-card/cells-business-contact-card.html">
<link rel="import" href="../cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../cells-spinner-stripes/cells-spinner-stripes.html">
<dom-module id="cells-jesus-guzman-vitte-dashboard">
  <script src="cells-jesus-guzman-vitte-dashboard.js"></script>
</dom-module>