@import "bower_components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  --heading-height: 28px;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-jesus-guzman-vitte-dashboard;
}

:host #allCards {
  display: none;
}

:host #spinner {
  display: block; 
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
